{
  "openapi": "3.1.0",
  "info": {
    "title": "YouTube Transcript APIs for AI Agents",
    "version": "1.0.0",
    "description": "Pay-per-call YouTube transcript, captions and video-to-text APIs for autonomous AI agents. No signup required. Payment via x402 using USDC on Base. Payments settle on-chain only after a successful response.",
    "contact": {
      "name": "LCF Consulting",
      "url": "https://github.com/lcaladoferreira/test"
    }
  },
  "servers": [
    {
      "url": "https://x402.bankr.bot/0xe100c45ad23fa81aeca03ce61871e2ea3cf8e9eb",
      "description": "Bankr x402 Cloud — USDC on Base"
    }
  ],
  "paths": {
    "/youtube-transcript": {
      "post": {
        "operationId": "youtubeTranscript",
        "summary": "Get YouTube transcript with timestamps, language selection and translation",
        "description": "Extract clean transcript, captions or subtitles from any YouTube video URL. Supports manual/auto caption preference, language selection, optional translation, timestamped segments and JSON/text/SRT output. Built for RAG ingestion, LLM context, research, summarization and autonomous agent workflows.",
        "x-payment-info": {
          "protocol": "x402",
          "network": "Base",
          "currency": "USDC",
          "price": "0.004"
        },
        "tags": ["youtube", "transcript", "captions", "ai-agent"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TranscriptRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transcript delivered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscriptResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — x402 USDC payment challenge on Base"
          },
          "405": {
            "description": "Method not allowed — use POST"
          },
          "422": {
            "description": "Transcript unavailable for the requested video"
          }
        }
      }
    },
    "/youtube-captions": {
      "post": {
        "operationId": "youtubeCaptions",
        "summary": "Get YouTube captions or subtitles",
        "description": "Extract clean captions, subtitles or transcript from any YouTube video URL with timestamps, language selection and JSON/text/SRT output. Optimized for workflows where the agent specifically needs captions or subtitles.",
        "x-payment-info": {
          "protocol": "x402",
          "network": "Base",
          "currency": "USDC",
          "price": "0.004"
        },
        "tags": ["youtube", "captions", "subtitles", "ai-agent"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaptionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Captions delivered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscriptResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — x402 USDC payment challenge on Base"
          },
          "405": {
            "description": "Method not allowed — use POST"
          },
          "422": {
            "description": "Captions unavailable for the requested video"
          }
        }
      }
    },
    "/youtube-video-to-text": {
      "post": {
        "operationId": "youtubeVideoToText",
        "summary": "Convert YouTube video to text",
        "description": "Convert any YouTube video URL into clean transcript text with JSON, plain text or SRT-ready output. Designed for video-to-text conversion, content extraction, RAG pipeline ingestion, research indexing and automated summarization.",
        "x-payment-info": {
          "protocol": "x402",
          "network": "Base",
          "currency": "USDC",
          "price": "0.004"
        },
        "tags": ["youtube", "video-to-text", "transcript", "ai-agent"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaptionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Video text delivered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscriptResponse"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required — x402 USDC payment challenge on Base"
          },
          "405": {
            "description": "Method not allowed — use POST"
          },
          "422": {
            "description": "Video text unavailable for the requested video"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "TranscriptRequest": {
        "type": "object",
        "description": "Request body for youtube-transcript (premium endpoint with translation and caption source control)",
        "properties": {
          "url": {
            "type": "string",
            "description": "YouTube video URL (youtube.com/watch, youtu.be, shorts, embed, live)"
          },
          "videoId": {
            "type": "string",
            "description": "11-character YouTube video ID (alternative to url)"
          },
          "language": {
            "type": "string",
            "description": "Preferred transcript/caption language code (e.g. en, es, pt, fr)"
          },
          "sourcePreference": {
            "type": "string",
            "enum": ["any", "manual", "generated"],
            "description": "Caption source preference: any (default), manual (human-created), generated (auto-generated)"
          },
          "translateTo": {
            "type": "string",
            "description": "Target language code for YouTube caption translation"
          },
          "includeSegments": {
            "type": "boolean",
            "description": "Include timestamped transcript segments in output"
          },
          "format": {
            "type": "string",
            "enum": ["json", "text", "srt"],
            "default": "json",
            "description": "Output format: json (default), plain text, or SRT subtitle"
          }
        }
      },
      "CaptionsRequest": {
        "type": "object",
        "description": "Request body for youtube-captions and youtube-video-to-text",
        "properties": {
          "url": {
            "type": "string",
            "description": "YouTube video URL (youtube.com/watch, youtu.be, shorts, embed, live)"
          },
          "videoId": {
            "type": "string",
            "description": "11-character YouTube video ID (alternative to url)"
          },
          "language": {
            "type": "string",
            "description": "Preferred captions/transcript language code (e.g. en, es, pt, fr)"
          },
          "includeSegments": {
            "type": "boolean",
            "description": "Include timestamped caption segments in output"
          },
          "format": {
            "type": "string",
            "enum": ["json", "text", "srt"],
            "default": "json",
            "description": "Output format: json (default), plain text, or SRT subtitle"
          }
        }
      },
      "TranscriptResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "description": "Whether the transcript was extracted successfully" },
          "videoId": { "type": "string", "description": "YouTube video ID" },
          "videoUrl": { "type": "string", "description": "Canonical YouTube video URL" },
          "language": { "type": "string", "description": "Transcript language code" },
          "languageName": { "type": "string", "description": "Transcript language display name" },
          "autoGenerated": { "type": "boolean", "description": "Whether the captions were auto-generated by YouTube" },
          "sourcePreference": { "type": "string", "description": "Caption source used (any, manual, generated)" },
          "translated": { "type": "boolean", "description": "Whether the transcript was translated" },
          "translateTo": { "type": "string", "description": "Target translation language code if translated" },
          "format": { "type": "string", "description": "Output format used" },
          "transcript": { "type": "string", "description": "Full transcript/caption text" },
          "formatted": { "type": "string", "description": "Formatted output text (plain text or SRT depending on format parameter)" },
          "wordCount": { "type": "integer", "description": "Number of words in the transcript" },
          "characterCount": { "type": "integer", "description": "Number of characters in the transcript" },
          "segments": {
            "type": "array",
            "description": "Timestamped transcript segments (included when includeSegments=true or format=srt)",
            "items": {
              "type": "object",
              "properties": {
                "text": { "type": "string" },
                "offsetMs": { "type": "integer", "description": "Start time in milliseconds" },
                "durationMs": { "type": "integer", "description": "Duration in milliseconds" }
              }
            }
          },
          "fetchedAt": { "type": "string", "description": "ISO 8601 timestamp of when the transcript was fetched" }
        }
      }
    }
  }
}
